.cc-main-container {
  padding: 20px;
  max-width: 80%;
  margin: 3rem auto;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  gap: 10px;
}

.cc-consent-content {
  width: 60%;
  background: linear-gradient(to right, red, darkred, black);
  padding: 2rem;
  border-radius: 10px;
  color: #fff;
}

.cc-form-wrapper {
  width: 35%;
  background: #fefefe;
  padding: 2rem;
  border-radius: 10px;
}

.cc-form-wrapper input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px 10px;
    border-radius: 5px;
    border: 1px solid #000;
    box-sizing: border-box;
}

.cc-form-wrapper label {
    color: #000;
    font-weight: bold;
    margin-bottom: 2rem;
}

.cc-button {
  background: #ff0000;
  color: white;
  padding: 10px 3.5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.cc-button:hover {
  background: #f60101;
  transform: translateY(-3px);


}

.cc-clear-btn {
  background: #750202;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
}

.cc-clear-btn:hover {
  background: #f60101;
  transform: translateY(-3px);


}