.newsletter-container {
    background: #ffffff;
    max-width: 500px;
    margin: 5rem auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 7px #6f6f6f;;
}

.succ-container{
    text-align: center;
}

.letter-heading {
    margin-top: 0;
    margin-bottom: 10px;
    color: #222;
}

.letter-subheading {
    margin-bottom: 20px;
    color: #555;
}

.letter-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.letter-input[type="text"],
.letter-input[type="email"] {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.check-icon {
    font-size: 4rem;
    color: #ff0000;
}

.continue-btn {
    background-color: #6f6f6f;
    width: 40%;
    margin: 1.5rem auto;
    padding: 15px;
    text-align: center;
    border-radius: 50px;
 }

.continue-btn a {
    color: white;
    text-decoration: none;
}

.letter-btn {
    padding: 12px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.letter-btn:hover {
    background-color: #9b0d0d;
}

/* .disclaimer {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
} */

@media (min-width: 320px) and (max-width: 360px) {
    .newsletter-container {
        max-width: 75%;
        margin: 1rem auto;
    }

    .letter-heading {
        margin-top: 0;
    }
}

@media (min-width: 414px) and (max-width: 431px){
    .newsletter-container {
        max-width: 75%;
        margin: 1rem auto;
    }

    .letter-heading {
        margin-top: 0;
    }
}
